ion-button{
    background-color: linear-gradient(180deg, #2A7A3E, #4DE072) !important;
}
hr{
    height: 1px; 
    border: none; 
    background:  rgba(0, 0, 0, 0.3) !important; 
    border-radius: 2px; 
    margin: 10px 0;
}