<ion-content appScrollbar>
  <ion-card>
    <ion-card-header>
      <ion-title class="ion-text-center">
        <ion-icon name="leaf-outline"></ion-icon> MEU PERFIL
      </ion-title>
    </ion-card-header>

    <ion-card-content *ngIf="usuarioData">
      <ion-list [inset]="true">
        <ion-grid>
          <!-- MEU PERFIL-->
          <ion-row>
            <ion-col size="12">
              <ion-title>MINHAS INFORMAÇÕES</ion-title>
            </ion-col>
          </ion-row>
          <hr />

          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">DOCUMENTO</ion-label>
                <ion-input placeholder="Digite aqui" [(ngModel)]="usuarioData.documento"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">DATA DE CADASTRO</ion-label>
                <ion-label position="stacked">{{ usuarioData?.dataCriacao | date: 'dd/MM/yyyy' }}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">NOME</ion-label>
                <ion-input placeholder="Digite aqui" [(ngModel)]="usuarioData.nome"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">EMAIL</ion-label>
                <ion-input placeholder="Digite aqui" [(ngModel)]="usuarioData.email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- FAZENDAS INFO -->
          <br>
          <ion-row>
            <ion-col size="12">
              <ion-title>MEUS LOTES</ion-title>
            </ion-col>
          </ion-row>
          <hr />
          <ion-row>
            <ion-col size="3">
              <ion-item>
                <ion-label position="stacked">NOME</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item>
                <ion-label position="stacked">ESPECIE</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-label position="stacked">AREA</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-label position="stacked">DATA CADASTRO</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-label position="stacked">STATUS</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let plantacao of usuarioData?.plantacao">
            <ion-col size="3">
              <ion-item>
                <ion-input placeholder="Digite aqui" [(ngModel)]="plantacao.fazendaNome"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item>
                <ion-text>{{ plantacao.especieNome }}</ion-text>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-text>{{ plantacao.areaPlantada }}</ion-text>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-text>{{ plantacao.dataPlantio | date: 'dd/MM/yyyy'}}</ion-text>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item>
                <ion-text>{{ plantacao.status }}</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-end">
            <!-- BOTÃO EDITAR -->
            <ion-col size="2">
              <ion-button expand="block" (click)="atualizarUsuario()">Salvar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
